---
import Layout from "../layouts/Layout.astro";
import "@fontsource/luckiest-guy";
import SpotifyTopArtists from "../components/SpotifyTopArtists.astro";
import PageTitle from "@components/PageTitle.astro";
---

<Layout title="Mr Pickles">
  <main>
    <PageTitle>
      Hello!
    </PageTitle>
    <div class="px-4 md:px-0 mx-auto mt-12 prose prose-mrpickles">

      <p>This is a demo personal website for the EdinburghJS Code Jam.</p>

      <p>
        Astro componentum, asynchronus promisus, eventum listenus. Varlet
        declarum, constum initializus, functionum callbackus. Nodeum serverus,
        expressum middleware, API fetchus. JSONum parsus, DOM manipulatus,
        frameworkum vueus. Es6 arrowum, functionum importus, module exportus.
        Arrayum mapus, filterum reduce, eventum loopus. Callbackus hellum,
        promisus chainum, async awaitus.
      </p>
    </div>
    <div class="px-2 max-w-7xl mx-auto">
      <h2
        class="text-center font-semibold mb-4 uppercase mt-12 text-mrpickles-accent"
      >
        My top recent artists
      </h2>
      <SpotifyTopArtists />
    </div>
  </main>
</Layout>
