---
import PageTitle from '@components/PageTitle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Now - Mr Pickles">
  <main>
    <PageTitle>Now</PageTitle>
    <div class="prose prose-mrpickles mx-auto px-4 md:px-0 mt-12">
      <p>This is my <a href="https://www.nownownow.com">now page</a>. I keep it updated regularly to let you know what is happening in my life. The last update was in October 2023.</p>
      <p>I am currently working on my personal website in order to test out ideas for a Code Jam. I am adding this now page, images, styles, animation and content. Check back for more soon.</p>
    </div>
  </main>
</Layout>
