<h2
class="mx-auto text-center animate-text bg-gradient-to-r from-mrpickles-gradient-1 via-mrpickles-gradient-2 to-mrpickles-gradient-3 bg-clip-text text-transparent text-4xl md:text-8xl font-black pb-2"
>
<slot />
</h2>